Package: com.yourname.musicspacepro
Name: Music Space Pro
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Custom UI for YouTube Music
Maintainer: Your Name
Author: Your Name
Section: Tweaks
